transformers==4.46.3
accelerate==0.27.2
peft==0.12.0
trl>=0.8.6
scipy
einops
sentencepiece
protobuf
jieba
rouge-chinese
nltk
uvicorn
pydantic>=2.0
pillow>=10.1.0
fastapi
sse-starlette
matplotlib
deepspeed==0.14.4
transformers_stream_generator
auto-gptq
optimum
tiktoken
timm
numpy==1.24.4
openlm-hub
pytest
faiss-gpu
